<header>
  <div class="navigation_container">
    <div class="logo">
      <!-- <img src="/assets/svg/logo.svg" alt="" /> -->
      <img src="../../../../assets/svg/logo.svg" alt="" />
    </div>
    <nav>
      <ul>
        <li>სახლი</li>
        <li>ჩვენს შესახებ</li>
        <li>მომხმარებელს</li>
        <li>კონტაქტი</li>
      </ul>
    </nav>
  </div>
  <div class="buttons_container">
    <button class="btn btn_lang">
      <img src="../../../../assets/svg/lang_icon.svg" alt="" />
      GEO
    </button>
    <button class="btn btn_login">შესვლა</button>
    <button (click)="openDialog()" class="btn btn_signup">რეგისტრაცია</button>
  </div>
</header>
