.landing-wrapper {
  width: 100%;
  height: 100vh;
  background-image: url("../../../assets/images/landing_bg.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: right center;
}
