@use "@angular/material" as mat;

// Define the palettes for your theme using the Material Design palettes
$Fixit_Front-primary: mat.define-palette(mat.$indigo-palette);
$Fixit_Front-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$Fixit_Front-warn: mat.define-palette(mat.$red-palette);

// Create the theme object
$Fixit_Front-theme: mat.define-light-theme(
  (
    color: (
      primary: $Fixit_Front-primary,
      accent: $Fixit_Front-accent,
      warn: $Fixit_Front-warn,
    ),
  )
);

@include mat.core();
@include mat.all-component-themes($Fixit_Front-theme);

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

@import "assets/scss/reset";
@import "assets/scss/fonts";
@import "assets/scss/palette";
@import "assets/scss/mixins";
@import "assets/scss/shared";
@import "assets/scss/media-queries";

body {
  font-family: "Bebas Neue", sans-serif !important;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 17px !important;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  border-radius: 10px;
}

.mat-form-field-appearance-outline .mat-form-field-outline-start,
.mat-form-field-appearance-outline .mat-form-field-outline-end {
  border: none;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  border-radius: 20px;
  // height: 40px;
  // background-color: #d9d9d9 !important;
}

.mat-mdc-form-field-error {
  font-size: 12px;
  letter-spacing: 1px;
}
